{{yield}}
<div class = "container-fluid">
<div class="row tableContainer">
  <div class="col-sm-12" align="center">
    <p>
      In each box, the first input is the name of the goodie pick that displays in the view picks
      section. The second input is the status of the goodie. Should be set to "TBD", "correct", or
      "incorrect"
    </p>
    <table border="4" cellpadding="9" cellspacing="9" style="width:100%">
      <tr class="trHead"> 
	<td>Player</td>
	<td>Low 32</td>
	<td>Low 16</td>
	<td>Low 4</td>
	<td>Best region</td>
	<td>NIT</td>
	<td>Blowout</td>
	<td>Conference out</td>
        <td>Dark horse</td>
        <td>Goodie Score</td>
      </tr>
      {{#each playerPicks as |player|}}
        <tr>
          <td>{{player.name}}</td>
          <td>
            {{input value=player.pickG1}}
            <br> {{input value=player.sG1}}
          </td>
          <td>
            {{input value=player.pickG2}}
            <br>{{input value=player.sG2}}
          </td>
          <td>
            {{input value=player.pickG3}}
            <br>{{input value=player.sG3}}
          </td>
          <td>
            {{input value=player.pickG4}}
            <br>{{input value=player.sG4}}
          </td>
          <td>
            {{input value=player.pickG5}}
            <br>{{input value=player.sG5}}
          </td>
          <td>
            {{input value=player.pickG6}}
            <br>{{input value=player.sG6}}
          </td>
          <td>
            {{input value=player.pickG7}}
            <br>{{input value=player.sG7}}
          </td>
          <td>
            {{input value=player.pickG8}}
            <br>{{input value=player.sG8}}
          </td>
          <td>{{input value=player.goodieScore}}</td>
        </tr>
      {{/each}}
      <tr>
        <td>
             BULK CONTROLS <br>
             <span class="info">
                <i class="fa fa-question-circle"></i>
                <span class="tooltiptext">
                    The 'correct value' input accepts a comma separated list and sets players with any of the given values in that column's goodie to 'correct' and everyone else to 'incorrect'.<br>
                    Ex. entering "Syracuse, Villanova" would set set player with either of those picks to correct and everyone else to incorrect.
                    The 'correct value' input ONLY affects the status of the pick and WILL NOT affect the goodie score unless the 'points' input is also used.
                    <br><br>
                    The 'points' input will add the given # of points to everyone's goodie score if their status is set to 'correct' for the column.
                    It can be used independently from the 'correct value' field, or they can be used at the same time.
                    If they're used at the same time, the 'correct value' field will FIRST set the picks to correct/incorrect and then the 'points' field will add points to the newly 'correct' picks.
                </span>
            </span>
        </td>
        {{#each bulkData as |b|}}
          <td>
            {{input value=b.correct}} (correct value) 
            <br><br>
            {{input value=b.points}} (point value)
          </td>
        {{/each}}
        <td></td>
      </tr>
    </table>
    <br>
    <button {{action "update"}}>Update</button>
    {{#if success}}
      <br>
      <p style="color: green; text-align: center">You have updated the goodie data.</p>
    {{/if}}
  </div>
</div>
</div>
