{{yield}}
<link href="https://fonts.googleapis.com/css?family=Nunito|Monda" rel="stylesheet">

<div class="row">
  <ul class="ulNav">
    <li class = "head" {{action "home"}}><br><br>ABINPC</li>
    <li {{action "picker"}}><a><br>Make Picks</a></li>
    <li {{action "picks"}}><a><br>View Picks</a></li>
    <li {{action "scores"}}><a><br>Scores</a></li>
    <li {{action "records"}}><a><br>Records</a></li>
    <li {{action "rules"}}><a><br>Rules</a></li>
  </ul>
</div>
