{{yield}}
<link href="https://fonts.googleapis.com/css?family=Nunito|Monda" rel="stylesheet">


<div class="row head" {{action "home"}}>
  ABINPC
</div>
<div class="row">
  <ul class="ulNav">
    <li class = "home" {{action "home"}}><a style="font-size:40px; line-height:10px"><br><i class="fa fa-home"></i></a></li>
    <li class = "liNav" {{action "picker"}}><a><br>Make Picks</a></li>
    <li class = "liNav" {{action "picks"}}><a><br>View Picks</a></li>
    <li class = "liNav" {{action "scores"}}><a><br>Scores</a></li>
    <li class = "liNav" {{action "records"}}><a><br>Records</a></li>
    <li class = "liNav" {{action "rules"}}><a><br>Rules</a></li>
  </ul>
</div>
