{{yield}}

<button {{action "home"}}>Home</button>
<button {{action "picker"}}>Make Picks</button>
<button {{action "picks"}}>View Picks</button>
<button {{action "scores"}}>Scores</button>
<button {{action "records"}}>Records</button>
<button {{action "rules"}}>Rules</button>
