{{yield}}
{{!-- The following parameters should be passed in: region, regionName,  model, teamNameMap --}}

<div class="row">
<div class = "col-sm-8 col-sm-offset-2 paragraph2" style="color: #010a1c; font-size: 18px;">
<h1 style="text-align: center">{{regionName}}</h1>
<div class="row" style="height:20px">
</div>
<div class="row">
  <div id="p1" class="col-md-3" style="text-align: left">
      <div class="fakeButton4" {{action "pick" "1 1"}}> {{names.[1]}} </div>
      <div class="fakeButton4" {{action "pick" "1 2"}}> {{names.[16]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: left">
      <div class="fakeButton4" {{action "pick" "9 1"}}> {{winners.[1]}} </div>
      <div class="fakeButton4" {{action "pick" "9 2"}}> {{winners.[2]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: left">
      <div class="fakeButton4" {{action "pick" "2 1"}}> {{names.[8]}} </div>
      <div class="fakeButton4" {{action "pick" "2 2"}}> {{names.[9]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "13 1"}}> {{winners.[9]}} </div>
      <div class="fakeButton4" {{action "pick" "13 2"}}> {{winners.[10]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "3 1"}}> {{names.[5]}} </div>
      <div class="fakeButton4" {{action "pick" "3 2"}}> {{names.[12]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "10 1"}}> {{winners.[3]}} </div>
      <div class="fakeButton4" {{action "pick" "10 2"}}> {{winners.[4]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "4 1"}}> {{names.[4]}} </div>
      <div class="fakeButton4" {{action "pick" "4 2"}}> {{names.[13]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "15 1"}}> {{winners.[13]}} </div>
      <div class="fakeButton4" {{action "pick" "15 2"}}> {{winners.[14]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "5 1"}}> {{names.[6]}} </div>
      <div class="fakeButton4" {{action "pick" "5 2"}}> {{names.[11]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "11 1"}}> {{winners.[5]}} </div>
      <div class="fakeButton4" {{action "pick" "11 2"}}> {{winners.[6]}} </div>
  </div>
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center">
      Region Winer: {{winners.[15]}}
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "6 1"}}> {{names.[3]}} </div>
      <div class="fakeButton4" {{action "pick" "6 2"}}> {{names.[14]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "14 1"}}> {{winners.[11]}} </div>
      <div class="fakeButton4" {{action "pick" "14 2"}}> {{winners.[12]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "7 1"}}> {{names.[7]}} </div>
      <div class="fakeButton4" {{action "pick" "7 2"}}> {{names.[10]}} </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "12 1"}}> {{winners.[7]}} </div>
      <div class="fakeButton4" {{action "pick" "12 2"}}> {{winners.[8]}} </div>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
      <div class="fakeButton4" {{action "pick" "8 1"}}> {{names.[2]}} </div>
      <div class="fakeButton4" {{action "pick" "8 2"}}> {{names.[15]}} </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <center>
    <button class = "btn-success" style="width: 70%; height: 55px" {{action "check"}}>Continue</button>
  </center>
</div>
<div class="row" style="height:14px">
</div>

{{#if failure}}
  <center>
    <div class = "alert alert-danger" style="width: 72%">
      Error: Please make sure that all of the picks have been entered.
    </div>
  </center>
{{/if}}
</div>
</div>
