{{yield}}
{{!-- The following parameters should be passed in: region, regionName,  model, teamNameMap --}}

<div class="row">
<div class = "col-sm-8 col-sm-offset-2 paragraph2" style="color: black; font-size: 18px; min-width: 693px">
<h1 style="text-align: center">{{regionName}}</h1>
<div class="row" style="height:20px">
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p1">
      <option>--Select Team--</option>
      <option>{{names.[1]}}</option>
      <option>{{names.[16]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p9">
      <option>--Select Team--</option>
      <option>{{winners.[1]}}</option>
      <option>{{winners.[2]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p2">
      <option>--Select Team--</option>
      <option>{{names.[8]}}</option>
      <option>{{names.[9]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p13">
      <option>--Select Team--</option>
      <option>{{winners.[9]}}</option>
      <option>{{winners.[10]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p3">
      <option>--Select Team--</option>
      <option>{{names.[5]}}</option>
      <option>{{names.[12]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p10">
      <option>--Select Team--</option>
      <option>{{winners.[3]}}</option>
      <option>{{winners.[4]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p4">
      <option>--Select Team--</option>
      <option>{{names.[4]}}</option>
      <option>{{names.[13]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p15">
      <option>--Select Team--</option>
      <option>{{winners.[13]}}</option>
      <option>{{winners.[14]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p5">
      <option>--Select Team--</option>
      <option>{{names.[6]}}</option>
      <option>{{names.[11]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p11">
      <option>--Select Team--</option>
      <option>{{winners.[5]}}</option>
      <option>{{winners.[6]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p6">
      <option>--Select Team--</option>
      <option>{{names.[3]}}</option>
      <option>{{names.[14]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p14">
      <option>--Select Team--</option>
      <option>{{winners.[11]}}</option>
      <option>{{winners.[12]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p7">
      <option>--Select Team--</option>
      <option>{{names.[7]}}</option>
      <option>{{names.[10]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p12">
      <option>--Select Team--</option>
      <option>{{winners.[7]}}</option>
      <option>{{winners.[8]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "pick"}}>
    <select id = "p8">
      <option>--Select Team--</option>
      <option>{{names.[2]}}</option>
      <option>{{names.[15]}}</option>
    </select>
  </div>
</div>
<br>
<br>
<div class="row">
  <center>
    <button class = "btn-success" style="width: 70%; height: 55px" {{action "check"}}>Continue</button>
  </center>
</div>
<div class="row" style="height:14px">
</div>

{{#if failure2}} {{!-- Check failure2 first because of edge case where failure2 processes as failure1--}}
  <center>
    <div class = "alert alert-danger" style="width: 72%">
      Error: Some picks do not make sense with previous picks.
    </div>
  </center>
{{else if failure1}}
  <center>
    <div class = "alert alert-danger" style="width: 72%">
      Error: Please make sure that all of the picks have been entered.
    </div>
  </center>
{{/if}}
</div>
</div>
