{{yield}}
<div class = "container-fluid">
<div class="row">
  <div class = "col-sm-2 col-sm-offset-2" style="font-size:25px; text-align: center">
    <br>
    <button class="btn-danger" style="width: 80%; height: 40px" {{action "back"}}>
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>
  <div class="col-sm-4" style="text-align: center">
    <h1>{{regionName}} Picks</h1>
  </div>
</div>
<br>
<br>
<div class="row tableContainer">
  <div class="col-sm-10 col-sm-offset-1" align="center">
    <h2>Round 1</h2><br>
    <table border="4" cellpadding="3" cellspacing="3" style="width:100%">
      <tr class="trHead"> 
	<td>Player</td>
	<td>{{displayNames.1.team1}} vs. {{displayNames.1.team2}}</td>
	<td>{{displayNames.2.team1}} vs. {{displayNames.2.team2}}</td>
	<td>{{displayNames.3.team1}} vs. {{displayNames.3.team2}}</td>
	<td>{{displayNames.4.team1}} vs. {{displayNames.4.team2}}</td>
	<td>{{displayNames.5.team1}} vs. {{displayNames.5.team2}}</td>
	<td>{{displayNames.6.team1}} vs. {{displayNames.6.team2}}</td>
	<td>{{displayNames.7.team1}} vs. {{displayNames.7.team2}}</td>
	<td>{{displayNames.8.team1}} vs. {{displayNames.8.team2}}</td>
      </tr>
      {{#each picks as |playerPicks|}}
	{{view-picks-row player=playerPicks incorrect=incorrect correct=correct round=1}}
      {{/each}}
    </table>
  </div>
  <div class = "row">
    <div class = "col-sm-10 col-sm-offset-1">
      <div class = "navOffset">
      </div>
      <div class = "row">
	<div class= "col-sm-6" style="text-align: center">
    <h2>Round 2</h2><br>
    <table border="4" cellpadding="3" cellspacing="3" style="width: 100%">
      <tr class="trHead">
	<td>Player</td>
	<td>{{displayNames.9.team1}} vs. {{displayNames.9.team2}}</td>
	<td>{{displayNames.10.team1}} vs. {{displayNames.10.team2}}</td>
	<td>{{displayNames.11.team1}} vs. {{displayNames.11.team2}}</td>
	<td>{{displayNames.12.team1}} vs. {{displayNames.12.team2}}</td>
      </tr>
      {{#each picks as |playerPicks|}}
	{{view-picks-row player=playerPicks incorrect=incorrect correct=correct round=2}}
      {{/each}}
    </table> 
	</div>
	<div class = "col-sm-6" style = "text-align: center">
    <h2>Round 3 & 4</h2><br>
    <table border="4" cellpadding="3" cellspacing="3" style="width: 100%">
      <tr class="trHead">
	<td>Player</td>
	<td>{{displayNames.13.team1}} vs. {{displayNames.13.team2}}</td>
	<td>{{displayNames.14.team1}} vs. {{displayNames.14.team2}}</td>
	<td>{{displayNames.15.team1}} vs. {{displayNames.15.team2}}</td>
      </tr>
      {{#each picks as |playerPicks|}}
	{{view-picks-row player=playerPicks incorrect=incorrect correct=correct round=3}}
      {{/each}}
    </table> 
	</div>
      </div>
    </div>
  </div>
</div>

</div>
