{{yield}}
{{!-- The following parameters should be passed in: region, regionName,  model, teamNameMap --}}

<h1>{{regionName}}</h1>

<select value={{test5}}> 
  <option>{{test1}}</option>
  <option>{{test2}}</option>
</select>
<select value={{test6}}> 
  <option>{{test3}}</option>
  <option>{{test4}}</option>
</select>
<select> 
  <option>{{test5}}</option>
  <option>{{test6}}</option>
</select>
