{{yield}}
{{!-- The following parameters should be passed in: region, regionName,  model, teamNameMap --}}

<h1 style="text-align: center">{{regionName}}</h1>
<div class="row">
  <div class = "col-md-3" style="text-align: center" {{action "dosomething"}}>
    <select>
      <option>{{names.[1]}}</option>
      <option>{{names.[16]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[8]}}</option>
      <option>{{names.[9]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[5]}}</option>
      <option>{{names.[12]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[4]}}</option>
      <option>{{names.[13]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-9"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[6]}}</option>
      <option>{{names.[11]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[3]}}</option>
      <option>{{names.[14]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[7]}}</option>
      <option>{{names.[10]}}</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-3" style="text-align: center">    
    <select>
      <option>Team 1</option>
      <option>Team 2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class = "col-md-3" style="text-align: center">
    <select>
      <option>{{names.[2]}}</option>
      <option>{{names.[15]}}</option>
    </select>
  </div>
</div>
