{{yield}}
<td class="tdName">{{player.name}}</td>
{{#if r1}}
  {{#if pCorrect.g1}}
    <td class = "tdCorrect">{{player.p1}}</td>
  {{else if pIncorrect.g1}}
    <td class = "tdIncorrect">{{player.p1}}</td>
  {{else}}
    <td class="tdNormal">{{player.p1}}</td>
  {{/if}}
  {{#if pCorrect.g2}}
    <td class = "tdCorrect">{{player.p2}}</td>
  {{else if pIncorrect.g2}}
    <td class = "tdIncorrect">{{player.p2}}</td>
  {{else}}
    <td class="tdNormal">{{player.p2}}</td>
  {{/if}}
  {{#if pCorrect.g3}}
    <td class = "tdCorrect">{{player.p3}}</td>
  {{else if pIncorrect.g3}}
    <td class = "tdIncorrect">{{player.p3}}</td>
  {{else}}
    <td class="tdNormal">{{player.p3}}</td>
  {{/if}}
  {{#if pCorrect.g4}}
    <td class = "tdCorrect">{{player.p4}}</td>
  {{else if pIncorrect.g4}}
    <td class = "tdIncorrect">{{player.p4}}</td>
  {{else}}
    <td class="tdNormal">{{player.p4}}</td>
  {{/if}}
  {{#if pCorrect.g5}}
    <td class = "tdCorrect">{{player.p5}}</td>
  {{else if pIncorrect.g5}}
    <td class = "tdIncorrect">{{player.p5}}</td>
  {{else}}
    <td class="tdNormal">{{player.p5}}</td>
  {{/if}}
  {{#if pCorrect.g6}}
    <td class = "tdCorrect">{{player.p6}}</td>
  {{else if pIncorrect.g6}}
    <td class = "tdIncorrect">{{player.p6}}</td>
  {{else}}
    <td class="tdNormal">{{player.p6}}</td>
  {{/if}}
  {{#if pCorrect.g7}}
    <td class = "tdCorrect">{{player.p7}}</td>
  {{else if pIncorrect.g7}}
    <td class = "tdIncorrect">{{player.p7}}</td>
  {{else}}
    <td class="tdNormal">{{player.p7}}</td>
  {{/if}}
  {{#if pCorrect.g8}}
    <td class = "tdCorrect">{{player.p8}}</td>
  {{else if pIncorrect.g8}}
    <td class = "tdIncorrect">{{player.p8}}</td>
  {{else}}
    <td class="tdNormal">{{player.p8}}</td>
  {{/if}}
{{else if r2}}
  {{#if pCorrect.g9}}
    <td class = "tdCorrect">{{player.p9}}</td>
  {{else if pIncorrect.g9}}
    <td class = "tdIncorrect">{{player.p9}}</td>
  {{else}}
    <td class="tdNormal">{{player.p9}}</td>
  {{/if}}
  {{#if pCorrect.g10}}
    <td class = "tdCorrect">{{player.p10}}</td>
  {{else if pIncorrect.g10}}
    <td class = "tdIncorrect">{{player.p10}}</td>
  {{else}}
    <td class="tdNormal">{{player.p10}}</td>
  {{/if}}
  {{#if pCorrect.g11}}
    <td class = "tdCorrect">{{player.p11}}</td>
  {{else if pIncorrect.g11}}
    <td class = "tdIncorrect">{{player.p11}}</td>
  {{else}}
    <td class="tdNormal">{{player.p11}}</td>
  {{/if}}
  {{#if pCorrect.g12}}
    <td class = "tdCorrect">{{player.p12}}</td>
  {{else if pIncorrect.g12}}
    <td class = "tdIncorrect">{{player.p12}}</td>
  {{else}}
    <td class="tdNormal">{{player.p12}}</td>
  {{/if}}
{{else if r3}}
  {{#if pCorrect.g13}}
    <td class = "tdCorrect">{{player.p13}}</td>
  {{else if pIncorrect.g13}}
    <td class = "tdIncorrect">{{player.p13}}</td>
  {{else}}
    <td class="tdNormal">{{player.p13}}</td>
  {{/if}}
  {{#if pCorrect.g14}}
    <td class = "tdCorrect">{{player.p14}}</td>
  {{else if pIncorrect.g14}}
    <td class = "tdIncorrect">{{player.p14}}</td>
  {{else}}
    <td class="tdNormal">{{player.p14}}</td>
  {{/if}}
  {{#if pCorrect.g15}}
    <td class = "tdCorrect">{{player.p15}}</td>
  {{else if pIncorrect.g15}}
    <td class = "tdIncorrect">{{player.p15}}</td>
  {{else}}
    <td class="tdNormal">{{player.p15}}</td>
  {{/if}}
{{else if F}}
  {{#if pCorrect.g61}}
    <td class = "tdCorrect">{{player.p61}}</td>
  {{else if pIncorrect.g61}}
    <td class = "tdIncorrect">{{player.p61}}</td>
  {{else}}
    <td class="tdNormal">{{player.p61}}</td>
  {{/if}}
  {{#if pCorrect.g62}}
    <td class = "tdCorrect">{{player.p62}}</td>
  {{else if pIncorrect.g62}}
    <td class = "tdIncorrect">{{player.p62}}</td>
  {{else}}
    <td class="tdNormal">{{player.p62}}</td>
  {{/if}}
  {{#if pCorrect.g63}}
    <td class = "tdCorrect">{{player.p63}}</td>
  {{else if pIncorrect.g63}}
    <td class = "tdIncorrect">{{player.p63}}</td>
  {{else}}
    <td class="tdNormal">{{player.p63}}</td>
  {{/if}}
{{else if G}}
  {{#if pCorrect.G1}}
    <td class = "tdCorrect">{{player.G1}}</td>
  {{else if pIncorrect.G1}}
    <td class = "tdIncorrect">{{player.G1}}</td>
  {{else}}
    <td class="tdNormal">{{player.G1}}</td>
  {{/if}}
  {{#if pCorrect.G2}}
    <td class = "tdCorrect">{{player.G2}}</td>
  {{else if pIncorrect.G2}}
    <td class = "tdIncorrect">{{player.G2}}</td>
  {{else}}
    <td class="tdNormal">{{player.G2}}</td>
  {{/if}}
  {{#if pCorrect.G3}}
    <td class = "tdCorrect">{{player.G3}}</td>
  {{else if pIncorrect.G3}}
    <td class = "tdIncorrect">{{player.G3}}</td>
  {{else}}
    <td class="tdNormal">{{player.G3}}</td>
  {{/if}}
  {{#if pCorrect.G4}}
    <td class = "tdCorrect">{{player.G4}}</td>
  {{else if pIncorrect.G4}}
    <td class = "tdIncorrect">{{player.G4}}</td>
  {{else}}
    <td class="tdNormal">{{player.G4}}</td>
  {{/if}}
  {{#if pCorrect.G5}}
    <td class = "tdCorrect">{{player.G5}}</td>
  {{else if pIncorrect.G5}}
    <td class = "tdIncorrect">{{player.G5}}</td>
  {{else}}
    <td class="tdNormal">{{player.G5}}</td>
  {{/if}}
  {{#if pCorrect.G6}}
    <td class = "tdCorrect">{{player.G6}}</td>
  {{else if pIncorrect.G6}}
    <td class = "tdIncorrect">{{player.G6}}</td>
  {{else}}
    <td class="tdNormal">{{player.G6}}</td>
  {{/if}}
  {{#if pCorrect.G7}}
    <td class = "tdCorrect">{{player.G7}}</td>
  {{else if pIncorrect.G7}}
    <td class = "tdIncorrect">{{player.G7}}</td>
  {{else}}
    <td class="tdNormal">{{player.G7}}</td>
  {{/if}}
  {{#if pCorrect.G8}}
    <td class = "tdCorrect">{{player.G8}}</td>
  {{else if pIncorrect.G8}}
    <td class = "tdIncorrect">{{player.G8}}</td>
  {{else}}
    <td class="tdNormal">{{player.G8}}</td>
  {{/if}}
  {{#if pCorrect.G9}}
    <td class = "tdCorrect">{{player.G9}}</td>
  {{else if pIncorrect.G9}}
    <td class = "tdIncorrect">{{player.G9}}</td>
  {{else}}
    <td class="tdNormal">{{player.G9}}</td>
  {{/if}}
  <td class="tdBold">{{player.goodieScore}}</td>
{{else if F0}}
  {{#if pCorrect.g57}}
    <td class = "tdCorrect">{{player.p57}}</td>
  {{else if pIncorrect.g57}}
    <td class = "tdIncorrect">{{player.p57}}</td>
  {{else}}
    <td class="tdNormal">{{player.p57}}</td>
  {{/if}}
  {{#if pCorrect.g58}}
    <td class = "tdCorrect">{{player.p58}}</td>
  {{else if pIncorrect.g58}}
    <td class = "tdIncorrect">{{player.p58}}</td>
  {{else}}
    <td class="tdNormal">{{player.p58}}</td>
  {{/if}}
  {{#if pCorrect.g59}}
    <td class = "tdCorrect">{{player.p59}}</td>
  {{else if pIncorrect.g59}}
    <td class = "tdIncorrect">{{player.p59}}</td>
  {{else}}
    <td class="tdNormal">{{player.p59}}</td>
  {{/if}}
  {{#if pCorrect.g60}}
    <td class = "tdCorrect">{{player.p60}}</td>
  {{else if pIncorrect.g60}}
    <td class = "tdIncorrect">{{player.p60}}</td>
  {{else}}
    <td class="tdNormal">{{player.p60}}</td>
  {{/if}}
{{/if}}
