{{yield}}
<td class="tdName">{{player.name}}</td>
{{#if r1}}
  {{#if pCorrect.g1}}
    <td class = "tdCorrect">{{player.p1}}</td>
  {{else if pIncorrect.g1}}
    <td class = "tdIncorrect">{{player.p1}}</td>
  {{else}}
    <td class="tdNormal">{{player.p1}}</td>
  {{/if}}
  {{#if pCorrect.g2}}
    <td class = "tdCorrect">{{player.p2}}</td>
  {{else if pIncorrect.g2}}
    <td class = "tdIncorrect">{{player.p2}}</td>
  {{else}}
    <td class="tdNormal">{{player.p2}}</td>
  {{/if}}
  {{#if pCorrect.g3}}
    <td class = "tdCorrect">{{player.p3}}</td>
  {{else if pIncorrect.g3}}
    <td class = "tdIncorrect">{{player.p3}}</td>
  {{else}}
    <td class="tdNormal">{{player.p3}}</td>
  {{/if}}
  {{#if pCorrect.g4}}
    <td class = "tdCorrect">{{player.p4}}</td>
  {{else if pIncorrect.g4}}
    <td class = "tdIncorrect">{{player.p4}}</td>
  {{else}}
    <td class="tdNormal">{{player.p4}}</td>
  {{/if}}
  {{#if pCorrect.g5}}
    <td class = "tdCorrect">{{player.p5}}</td>
  {{else if pIncorrect.g5}}
    <td class = "tdIncorrect">{{player.p5}}</td>
  {{else}}
    <td class="tdNormal">{{player.p5}}</td>
  {{/if}}
  {{#if pCorrect.g6}}
    <td class = "tdCorrect">{{player.p6}}</td>
  {{else if pIncorrect.g6}}
    <td class = "tdIncorrect">{{player.p6}}</td>
  {{else}}
    <td class="tdNormal">{{player.p6}}</td>
  {{/if}}
  {{#if pCorrect.g7}}
    <td class = "tdCorrect">{{player.p7}}</td>
  {{else if pIncorrect.g7}}
    <td class = "tdIncorrect">{{player.p7}}</td>
  {{else}}
    <td class="tdNormal">{{player.p7}}</td>
  {{/if}}
  {{#if pCorrect.g8}}
    <td class = "tdCorrect">{{player.p8}}</td>
  {{else if pIncorrect.g8}}
    <td class = "tdIncorrect">{{player.p8}}</td>
  {{else}}
    <td class="tdNormal">{{player.p8}}</td>
  {{/if}}
{{else if r2}}
{{else if r3}}
{{else if r4}}
{{/if}}
