{{outlet}}
{{nav-bar}}

{{!--
I'm never going to bother styling this page because is only going to be viewed
by my father and myself, and neither of us care what it looks like.
--}}

{{#unless correctPassword}}
  <form>
    Enter the admin password: <br>
    {{input type="password" value=enteredPassword}} <br>
    {{#if incorrectPassword}}
      <p style="color: RED">Incorrect password.</p>
    {{else}}
    {{/if}}
    <button {{action "submitPassword"}}>Submit</button>
  </form>
{{else}}
  {{#unless taskSelected}}
  Welcome, Admin! <br><br>
    <button {{action "newSeason"}}>New season</button><br>
    <button {{action "enterResults"}}>Enter results</button><br>
    <button {{action "generateKeys"}}>Generate access keys</button><br>
  {{else}} 
    {{#if seasonMenu}}
      This is the new season menu
    {{/if}}
    {{#if resultsMenu}}
      This is the enter results menu
    {{/if}}
    {{#if keysMenu}}
      This is the generate keys menu
    {{/if}}
    <br><br><button {{action "backToTasks"}}>Other admin tasks</button>
  {{/unless}}
{{/unless}}
