{{outlet}}
<div class = "container-fluid">

{{nav-bar}}
<div class = "navOffset">
</div>
{{!--
I'm never going to bother styling this page because it is only going to be viewed
by my father and myself, and neither of us care what it looks like.
--}}

{{#unless correctPassword}}
  <form>
    <div class = "row">
      <div class = "col-sm-4 col-sm-offset-4 paragraph2">
	<a style="color: white">
	  Enter the admin password: <br>
	</a>
	{{input class = "inputSmall" type="password" value=enteredPassword style="text-color: black"}}<br>
	{{#if incorrectPassword}}
	  <div class = "row" style="height: 11px">
	  </div>
          <div class = "alert alert-danger">Incorrect Password</div>
	{{else}}
      {{/if}}
      <div class = "row" style="height: 6px">
      </div>
      <button {{action "submitPassword"}}>Submit</button>
      </div>
    </div>
  </form>
{{else}}
  {{#unless taskSelected}}
  Welcome, Admin! <br><br>
    <button {{action "newSeasonOn"}}>New season</button><br>
    <button {{action "enterResultsOn"}}>Enter results</button><br>
    <button {{action "enterGoodiesOn"}}>Enter goodies</button><br>
    <button {{action "generateKeysOn"}}>Generate access keys</button><br>
    {{#if allowPicks}}
      <button {{action "stopAllowingPicks"}}>Stop allowing picks</button><br>
    {{else}}
      <button {{action "startAllowingPicks"}}>Start allowing picks</button><br>
    {{/if}}
  {{else}} 
    {{#if seasonMenu}}
      {{new-season}} 
    {{/if}}
    {{#if resultsMenu}}
      Choose which game to enter results for:
      <br>
      <select id= gameSelector value=selectedGame {{action "updateSelection" selectedGame}}>
	<option>--Select game--</option>
	{{#each gameList as |game|}}
	  <option value={{game.id}}>
	    {{game.team1}} vs. {{game.team2}}
	  </option>
	{{/each}}  
      </select>
      {{#if selectedTeam1}}
	<br><br>
	Select Winner: 
	<form>
	  <button {{action "selectWinner" "team1"}}> {{selectedTeam1}} </button>
	  <button {{action "selectWinner" "team2"}}> {{selectedTeam2}} </button> <br>
	  Selected: <b>{{selectedWinner}}</b><br>
	  <button {{action "submitWinner"}}>Submit</button>
	</form>
	<br><br>
      {{/if}}
    {{/if}}
    {{#if keysMenu}}
      How many keys do you want to generate? {{input value=keyCount}}
      <button {{action "generate"}}>generate</button>
      {{#each newKeys as |key|}}
        <br>{{key}}
      {{/each}}
    {{/if}}
    {{#if goodiesMenu}}
      {{goodies-setter playerSet=playerSet}}
    {{/if}}
    <br><br><button {{action "backToTasks"}}>Other admin tasks</button>
  {{/unless}}
{{/unless}}
<div class = "navOffset">
</div>

</div>
