{{outlet}}

{{!--
I'm never going to bother styling this page because is only going to be viewed
by my father and myself, and neither of us care what it looks like.
--}}

{{#unless correctPassword}}
  Enter the admin password: <br>
  {{input type="password" value=enteredPassword}} <br>
  {{#if incorrectPassword}}
    <p style="color: RED">Incorrect password.</p>
  {{else}}
  {{/if}}
  <button {{action "submitPassword"}}>Submit</button>
{{else}}
  You got in!
{{/unless}}
