{{outlet}}
{{nav-bar}}
<br>
{{!--
I'm never going to bother styling this page because is only going to be viewed
by my father and myself, and neither of us care what it looks like.
--}}

{{#unless correctPassword}}
  <form>
    Enter the admin password: <br>
    {{input type="password" value=enteredPassword}} <br>
    {{#if incorrectPassword}}
      <p style="color: RED">Incorrect password.</p>
    {{else}}
    {{/if}}
    <button {{action "submitPassword"}}>Submit</button>
  </form>
{{else}}
  {{#unless taskSelected}}
  Welcome, Admin! <br><br>
    <button {{action "newSeasonOn"}}>New season</button><br>
    <button {{action "enterResultsOn"}}>Enter results</button><br>
    <button {{action "generateKeysOn"}}>Generate access keys</button><br>
    {{#if allowPicks}}
      <button {{action "stopAllowingPicks"}}>Stop allowing picks</button><br>
    {{else}}
      <button {{action "startAllowingPicks"}}>Start allowing picks</button><br>
    {{/if}}
  {{else}} 
    {{#if seasonMenu}}
      {{new-season}} 
    {{/if}}
    {{#if resultsMenu}}
      This is the enter results menu
    {{/if}}
    {{#if keysMenu}}
      How many keys do you want to generate? {{input value=keyCount}}
      <button {{action "generate"}}>generate</button>
      {{#each newKeys as |key|}}
        <br>{{key}}
      {{/each}}
    {{/if}}
    <br><br><button {{action "backToTasks"}}>Other admin tasks</button>
  {{/unless}}
{{/unless}}
