{{outlet}}
<link href="https://fonts.googleapis.com/css?family=Vollkorn|Reem+Kufi|Yanone+Kaffeesatz" rel="stylesheet">
<div class = "container-fluid">

{{nav-bar}}
<div class="navOffset">
</div>
<div class = "row" style="text-align: center">
  <div class = "col-sm-8 col-sm-offset-2 paragraphHome">
    <h1 class = "title">ABINPC.COM</h1> 
    <div style="height: 3vmin">
    </div>
    <div class = "row">
      <div class = "col-sm-8 col-sm-offset-2">
	<p style="font-size: 6vmin; text-align: center; text-indent: 0px"> 
	  The world's oldest online March Madness picking contest
	</p>
	<div style="height: 4vmin">
	</div>
	<!--div class = "row">
	  <div class = "col-sm-8 col-sm-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "rules"}}>
	      Read the Rules
	    </div>  
	  </div>
	</div-->
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-sm-10 col-sm-offset-1" style="text-align: center">
	    <button class = "btn-success btnHome" {{action "picker"}} style="font-family: default">
	      Enter Picks <i class="fa fa-long-arrow-right"></i>
	    </button>  
	  </div>
	</div>
	<div class = "row">
        <div class = "col-sm-6 col-sm-offset-3" style="text-align: center">
            <i style="font-size: 24px; font-family: none"> 
                <br><br><br><br>
                In memory of 2007 ABINPC champion: Alec DeJong 
            </i>
        </div>
    </div>
	<!--div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-sm-8 col-sm-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "about"}}>
	      About Abinpc
	    </div>  
	  </div>
	</div>
	<div class="row" style="height: 2vmin">
	</div-->
      </div>
    </div>
  </div>
</div>
<div class = "navOffset">
</div>

</div>
