{{outlet}}
<div class = "container-fluid">

{{nav-bar}}
<div class = "navOffset">
</div>
{{#if loading}}
<div class = "row">
  <div class = "col-sm-6 col-sm-offset-3 paragraphError">
    <a style="color: white">
      ABINPC is Loading...
    </a>
  </div>
</div>
{{else if loadError}}
  <div class = "row">
    <div class = "col-sm-4 col-sm-offset-4 paragraphError">
      <a style="color: white">
	There was an error loading the picks. Please try again.
      </a>
      <br><a class="fakeButton3" {{action "refresh"}}>
	Refresh Page
      </a>
    </div>
  </div>
{{else}}
{{#unless allowPicks}}
  {{#if ASelected}}
    {{region-picks region="A" regionName=A teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if BSelected}}
    {{region-picks region="B" regionName=B teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if CSelected}}
    {{region-picks region="C" regionName=C teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if DSelected}}
    {{region-picks region="D" regionName=D teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if FSelected}}
    <div class="row">
      <div class = "col-sm-2 col-sm-offset-2" style="font-size:25px; text-align: center">
	<br>
	<button class="btn-danger" style="width: 80%; height: 40px" {{action "back"}}>
	  <i class="fa fa-arrow-left"></i> Back
	</button>
      </div>
      <div class="col-sm-4" style="text-align: center">
	<h1>Final 4 Picks</h1>
      </div>
    </div>
    <br>
    <br>
      <div class = "navOffset">
      </div>
      <div class = "row">
	<div class= "col-sm-6" style="text-align: center">
    <h2>Final 4</h2><br>
    <!-- TODO: Figure out how the fuck to make this the final 4 table isntead of finals -->
    <table border="4" cellpadding="3" cellspacing="3" style="width: 100%">
	  <tr class="trHead"> 
	    <td>Player</td>
	    <td> {{A}} </td>
	    <td> {{B}} </td>
	    <td> {{C}} </td>
	    <td> {{D}} </td>
	  </tr>
      <!-- TODO: probably create round=6 for this and set appropriate data in controller or route -->
	  {{#each FPicks as |playerPicks|}}
	    {{view-picks-row player=playerPicks correct=FCorrect incorrect=FIncorrect round=6}}
	  {{/each}}
    </table> 
	</div>
	<div class = "col-sm-6" style = "text-align: center">
    <h2>Championship & Champion</h2><br>
    <table border="4" cellpadding="3" cellspacing="3" style="width: 100%">
	  <tr class="trHead"> 
	    <td>Player</td>
	    <td>{{displayNames.61.team1}} vs. {{displayNames.61.team2}}</td>
	    <td>{{displayNames.62.team1}} vs. {{displayNames.62.team2}}</td>
	    <td>{{displayNames.63.team1}} vs. {{displayNames.63.team2}}</td>
	  </tr>
	  {{#each FPicks as |playerPicks|}}
	    {{view-picks-row player=playerPicks correct=FCorrect incorrect=FIncorrect round=4}}
	  {{/each}}
    </table> 
	</div>
  </div>







  {{else if GSelected}}
    <div class="row">
      <div class = "col-sm-2 col-sm-offset-2" style="font-size:25px; text-align: center">
	<br>
	<button class="btn-danger" style="width: 80%; height: 40px" {{action "back"}}>
	  <i class="fa fa-arrow-left"></i> Back
	</button>
      </div>
      <div class="col-sm-4" style="text-align: center">
	<h1>Goodies</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row tableContainer">
      <div class="col-sm-12" align="center">
	<table border="4" cellpadding="3" cellspacing="3">
	  <tr class="trHead"> 
	    <td>Player</td>
	    <td>Low Rd. 2</td>
	    <td>Low Sweet 16</td>
	    <td>Low Final 4</td>
	    <td>Best Region</td>
	    <td>Women's</td>
	    <td>NIT</td>
	    <td>Rd.1 Blowout</td>
	    <td>Worst Conference</td>
	    <td>Dark horse</td>
        <td>Goodie score</td>
	  </tr>
	  {{#each GPicks as |playerPicks|}}
	    {{view-picks-row player=playerPicks correct=GCorrect incorrect=GIncorrect round=5}}
	  {{/each}}
	</table>
      </div>
    </div>
  {{else}}
    <div class = "row">
      <div class = "col-sm-6 col-sm-offset-3 paragraph">
	<div class="row" style="height: 3vmin">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectA"}}>
	      View {{A}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectB"}}>
	      View {{B}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectC"}}>
	      View {{C}} picks
	    </div>  
	  </div> 
	</div>
	<div style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectD"}}>
	      View {{D}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectF"}}>
	      View {{F}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" {{action "selectG"}}>
	      View Goodie picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 3vmin">
	</div>
      </div>
    </div>
  {{/if}}
{{else}}
<div class = "row">
  <div class = "col-sm-6 col-sm-offset-3 paragraphError">
      You may view picks once everyone's picks are in and the games have started.
  </div>
</div>
{{/unless}}
{{/if}}
<div class = "navOffset">
</div>

</div>
