{{outlet}}
<div class = "container-fluid">

{{nav-bar}}
<div class="navOffset">
</div>
{{#unless allowPicks}}
<div class = "row">
  <div class = "col-sm-6 col-sm-offset-3 paragraphError">
    <a style="color: white">
      We are not currently accepting picks. Come back on selection Sunday!
    </a>
  </div>
</div>
{{else}}
  {{#unless lastScreen}}
    {{#unless validKey}}
      <div class = "row">
	<div class = "col-sm-6 col-sm-offset-3 paragraph2">
	  <div class = "row" style = "height: 6px">
	  </div>
	  <div class = "row">
	    <div class = "col-sm-4">
	      <a style="color: white">
		Name:
	      </a>
	    </div>
	    <div class = "col-sm-8">
	      {{input value=model.name style="width: 95%"}}<br>
	    </div>
	  </div>
	  <div class = "row" style="height: 8px">
	  </div>
	  <div class = "row">
	    <div class = "col-sm-4">
	      <a style="color: white">
		Access Key:
	      </a>
	    </div>
	    <div class = "col-sm-8">
	      {{input value=model.accessKey style="width: 95%"}}
	    </div>
	  </div>
	  <div class = "row" style = "height: 8px">
	  </div>
	  <div class = "row">
	    <p style= "color: #E6CCB4">
	      If you wish to play but don't have a valid access key, 
	      <a href="mailto:tomh@virginia.edu" style = "color: darkslateblue; 
	 	text-decoration: underline; text-align: center">
	      contact the commissioner</a> for an access key.
	    </p>
	  </div>
	  <button class = "btn-success" style="width: 95%" {{action "enterKey"}}>Make Picks</button>
	  {{#if nameError}}
	    <div class = "row" style = "height: 8px">
	    </div>
	    <center>
	      <div class = "alert alert-danger" style="width: 95%">Please enter a valid name.</div>
	    </center>
	  {{else if keyError}}
	    <div class = "row" style = "height: 8px">
	    </div>
	    <center>
	      <div class = "alert alert-danger" style="width: 95%">Error: Invalid access key</div>
	    </center>
	  {{/if}}
	  <div class = "row" style = "height: 6px">
	  </div>
	</div>
      </div>
    {{else}}
      {{#if noneSelected}}
	<div class = "row">
	  <div class = "col-sm-4 col-sm-offset-4 paragraph">
	    <div class="row" style="height: 8px">
	    </div>
	    {{#unless ACompleted}}
	      <div class = "row">
		<div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
		  <div class = "fakeButton" style="height: 5vh" {{action "selectA"}}>
	 	    {{AName}} picks
	  	  </div>  
	        </div> 
	      </div>
	      <div class="row" style="height: 4px">
	      </div>
	    {{/unless}}
	    {{#unless BCompleted}}
	      <div class = "row">
		<div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
		  <div class = "fakeButton" style="height: 5vh" {{action "selectB"}}>
	 	    {{BName}} picks
	  	  </div>  
	        </div> 
	      </div>
	      <div class="row" style="height: 4px">
	      </div>
	    {{/unless}}
	    {{#unless CCompleted}}
	      <div class = "row">
		<div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
		  <div class = "fakeButton" style="height: 5vh" {{action "selectC"}}>
	 	    {{CName}} picks
	  	  </div>  
	        </div> 
	      </div>
	      <div class="row" style="height: 4px">
	      </div>
	    {{/unless}}
	    {{#unless DCompleted}}
	      <div class = "row">
		<div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
		  <div class = "fakeButton" style="height: 5vh" {{action "selectD"}}>
	 	    {{DName}} picks
	  	  </div>  
	        </div> 
	      </div>
	      <div class="row" style="height: 4px">
	      </div>
	    {{/unless}}
	  </div>
	</div>
      {{else if ASelected}}
	{{region-picker model=model region="A" regionName=AName teamNameMap=teamNameMap teamCodeMap=teamCodeMap action="cont"}}
      {{else if BSelected}}
	{{region-picker model=model region="B" regionName=BName teamNameMap=teamNameMap teamCodeMap=teamCodeMap action="cont"}}
      {{else if CSelected}}
	{{region-picker model=model region="C" regionName=CName teamNameMap=teamNameMap teamCodeMap=teamCodeMap action="cont"}}
      {{else if DSelected}}
	{{region-picker model=model region="D" regionName=DName teamNameMap=teamNameMap teamCodeMap=teamCodeMap action="cont"}}
      {{else if FSelected}}  
	<div class = "row">
	<div class= "col-sm-4 col-sm-offset-4 paragraph2" style="color: #010a1c; font-size: 18px">
	<div class= "row">
	  <h1>Final Four</h1>
	</div>
	<div class="row" style="height:20px">
	</div>
	<div class="row">
          <div class = "col-md-6" style="text-align: center" {{action "pick"}}>
            <select id = "F1">
              <option>--Select Team--</option>
              <option>{{FA}}</option>
              <option>{{FB}}</option>
            </select>
          </div>
	</div>
	<div class="row">
          <div class = "col-md-6 col-md-offset-6" style="text-align: center" {{action "pick"}}>
            <select id = "F3">
              <option>--Select Team--</option>
              <option>{{FW1}}</option>
              <option>{{FW2}}</option>
            </select>
          </div>
	</div>
	<div class="row">
          <div class = "col-md-6" style="text-align: center" {{action "pick"}}>
            <select id = "F2">
              <option>--Select Team--</option>
              <option>{{FC}}</option>
              <option>{{FD}}</option>
            </select>
          </div>
        </div>      
	<div class = "row" style="height: 20px">
	</div>
	<div class = "row">
	  <center>
	    <button class="btn-success" style="width: 70%; height: 40px"{{action "cont2"}}>
	      Continue
	    </button>
	  </center>
	  {{#if failure}}
	    <div class = "row" style = "height: 10px">
	    </div>
	    <div class = "row" style = "text-align: center">
	      <center>
		<div class = "alert alert-danger" style="width: 67%">
		  Make sure that you enter every pick.
		</div>
	      </center>
	    </div>
	  {{/if}}
	<div class="row" style="height:14px">
	</div>
	</div>
	</div>
	</div>
      {{/if}}
    {{/unless}}
  {{else unless done}}
    <div class = "row">
      <div class = "col-sm-8 col-sm-offset-2 paragraph2" style="font-size: 28px">
	<div class = "row">
	  <h1>Goodies</h1>
	</div>
	<div class = "row" style="height: 12px">
	</div>
	<div class = "row">
	  <div class = "col-sm-4">
	    <a style="color: white">
	      NCAA women's Champ:
	    </a>
	  </div>
	  <div class = "col-sm-8">
	    {{input value=model.pickG5}}<br>
	  </div>
	</div>
	<div class = "row" style="height: 8px">
	</div>
	<div class = "row">
	  <div class = "col-sm-4">
	    <a style="color: white">
	      NIT champ:
	    </a>
	  </div>
	  <div class = "col-sm-8">
	    {{input value=model.pickG6}}<br>
	  </div>
	</div>
	<div class = "row" style="height: 8px">
	</div>
	<div class = "row">
	  <div class = "col-sm-4">
	    <a style="color: white">
	      Round 1 Blowout:
	    </a>
	  </div>
	  <div class = "col-sm-8">
	    {{input value=model.pickG7}}<br>
	  </div>
	</div>
	<div class = "row" style="height: 8px">
	</div>
	<div class = "row">
	  <div class = "col-sm-4">
	    <a style="color: white">
	      First conference out:
	    </a>
	  </div>
	  <div class = "col-sm-8">
	    <select id = "G8" style="width: 95%">
	      <option>--Select Conference--</option>
	      <option>Big 10</option>
	      <option>Big 12</option>
	      <option>SEC</option>
	      <option>PAC-10</option>
	      <option>ACC</option>
	    </select>
	  </div>
	</div>
	<div class = "row" style="height: 8px">
	</div>
	<div class = "row">
	  <div class = "col-sm-4">
	    <a style="color: white">
	      Dark horse champion:
	    </a>
	  </div>
	  <div class = "col-sm-8">
	    {{input value=model.pickG9}}<br>
	  </div>
	</div>
	<div class = "row" style="height: 8px">
        </div>
	<div class = "row">
	    <p style= "color: #E6CCB4; font-size:28px text-indent: 0px">
	      WARNING: Submitting picks can't be undone. 
	    </p>
	</div>
	<button class="btn-success" style="width: 80%" {{action "submit"}}>Submit</button>
	<div class="row" style="height:8px">
	</div>
	{{#if failure2}}
	  <center>
	    <div class = "alert alert-danger" style="width: 80%">
	      Please make a valid entry for each goodie.
	    </div>
	  </center>
	{{/if}}
      </div>
    </div>
  {{else}}
    <div class = "row">
      <div class = "col-sm-4 col-sm-offset-4 paragraph2">
        <a style="color: white">
	  Your picks have been submitted. Good luck!
        </a>
      </div>
    </div>
  {{/unless}}
{{/unless}}
<div class = "navOffset">
</div>

</div>
