{{outlet}}

{{nav-bar}}
<div class = "navOffset">
</div>
{{#unless allowPicks}}
  {{#if ASelected}}
    {{region-picks region="A" regionName=A teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if BSelected}}
    {{region-picks region="B" regionName=B teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if CSelected}}
    {{region-picks region="C" regionName=C teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if DSelected}}
    {{region-picks region="D" regionName=D teamNameMap=teamNameMap teamCodeMap=teamCodeMap players=players games=games action="back"}} 
  {{else if FSelected}}
    <div class="row">
      <div class = "col-sm-2 col-sm-offset-2" style="font-size:25px; text-align: center">
	<br>
	<button class="btn-danger" style="width: 80%; height: 40px" {{action "back"}}>
	  <i class="fa fa-arrow-left"></i> Back
	</button>
      </div>
      <div class="col-sm-4" style="text-align: center">
	<h1>Final 4 Picks</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row tableContainer">
      <div class="col-sm-12" align="center">
	<table border="4" cellpadding="3" cellspacing="3">
	  <tr class="trHead"> 
	    <td>Player</td>
	    <td>{{displayNames.61.team1}} vs. {{displayNames.61.team2}}</td>
	    <td>{{displayNames.62.team1}} vs. {{displayNames.62.team2}}</td>
	    <td>{{displayNames.63.team1}} vs. {{displayNames.63.team2}}</td>
	  </tr>
	  {{#each FPicks as |playerPicks|}}
	    {{view-picks-row player=playerPicks correct=FCorrect incorrect=FIncorrect round=4}}
	  {{/each}}
	</table>
      </div>
    </div>
  {{else if GSelected}}
    <div class="row">
      <div class = "col-sm-2 col-sm-offset-2" style="font-size:25px; text-align: center">
	<br>
	<button class="btn-danger" style="width: 80%; height: 40px" {{action "back"}}>
	  <i class="fa fa-arrow-left"></i> Back
	</button>
      </div>
      <div class="col-sm-4" style="text-align: center">
	<h1>Goodies</h1>
      </div>
    </div>
  {{else}}
    <div class = "row">
      <div class = "col-sm-4 col-sm-offset-4 paragraph">
	<div class="row" style="height: 8px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectA"}}>
	      View {{A}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectB"}}>
	      View {{B}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectC"}}>
	      View {{C}} picks
	    </div>  
	  </div> 
	</div>
	<div style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectD"}}>
	      View {{D}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectF"}}>
	      View {{F}} picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 4px">
	</div>
	<div class = "row">
	  <div class = "col-lg-8 col-lg-offset-2" style="text-align: center">
	    <div class = "fakeButton" style="height: 5vh" {{action "selectG"}}>
	      View Goodie picks
	    </div>  
	  </div> 
	</div>
	<div class="row" style="height: 8px">
	</div>
      </div>
    </div>
  {{/if}}
{{else}}
<div class = "row">
  <div class = "col-sm-4 col-sm-offset-4 paragraph2">
    <a style="color: white">
      You may view picks once everyone's picks are in and the games have stared.
    </a>
  </div>
</div>
{{/unless}}
