{{outlet}}
<div class = "container-fluid">

{{nav-bar}}
<div class="navOffset">
</div>

{{#if loading}}
<div class = "row">
  <div class = "col-sm-4 col-sm-offset-4 paragraph2">
    <a style="color: white">
      ABINPC is Loading...
    </a>
  </div>
</div>
{{else}}
  {{#if loadError}}
    <div class = "row">
      <div class = "col-sm-4 col-sm-offset-4 paragraph2">
        <a style="color: white">
	  There was an error loading the scores. Please try again.
	</a>
        <br><a class="fakeButton" {{action "refresh"}}>Refresh Page</a>
      </div>
    </div>
  {{else if allowPicks}}
    <div class = "row">
      <div class = "col-sm-4 col-sm-offset-4 paragraph2">
        <a style="color: white">
	  You may view the leaderboard once everyone's picks are in and the games have started.
	</a>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4" style="text-align: center">
	<h1>Leaderboard</h1>
      </div>
    </div>
    <br>
    <br>
    <div class="row tableContainer">
      <div class="col-sm-12" align="center">
	<table border="4" cellpadding="3" cellspacing="3">
	  <tr class="trHead"> 
	    <td>Player</td>
	    <td>Total</td>
	    <td>Round 1</td>
	    <td>Round 2</td>
	    <td>Round 3</td>
	    <td>Round 4</td>
	    <td>Final 4</td>
	    <td>Nat. Champ</td>
	    <td>Goodies</td>
	  </tr>
	  {{#each scores as |playerScores|}}
	    <tr>
	      <td class="tdName">{{playerScores.name}}</td>
	      <td class="tdBold">{{playerScores.total}}</td>
	      <td class="tdNormal">{{playerScores.r1S}} ({{playerScores.r1C}})</td>
	      <td class="tdNormal">{{playerScores.r2S}} ({{playerScores.r2C}})</td>
	      <td class="tdNormal">{{playerScores.r3S}} ({{playerScores.r3C}})</td>
	      <td class="tdNormal">{{playerScores.r4S}} ({{playerScores.r4C}})</td>
	      <td class="tdNormal">{{playerScores.r5S}} ({{playerScores.r5C}})</td>
	      <td class="tdNormal">{{playerScores.r6S}} ({{playerScores.r6C}})</td>
	      <td class="tdNormal">{{playerScores.goodies}}</td>
	    </tr>
	  {{/each}}
	</table>
      </div>
    </div>
  {{/if}}
{{/if}}
<div class = "navOffset">
</div>

</div>
